@import 'sassets/buttons/hollow';

%btn{
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    padding: 0 20px;
    line-height: 35px;
}

.btn-hollow{
  @include btn-hollow(#0af);
}
