@import '_vars';
@import 'sassets/animate/easing';
@import 'sassets/colors/colors';


@import '_mixins';
@import '_reset';

@import '_utils';
@import '_grid';
@import '_type';
@import '_buttons';

.hello{
    color: red;
}

@include ratio(1,1);
@include ratio(2,1);

.bg-blue{
  background-color: $color--peter-river;
}

.bg-green{
  background-color: $color--green-flat;
}
