@mixin btn-hollow($accent-color: #444, $border-radius: 3px, $hover-color: #fff){
  @extend %btn;
  background: transparent;
  border: 1px solid $accent-color;
  border-radius: $border-radius;
  color: $accent-color;
  transition: all .2s ease;
  &:hover{
    background-color: $accent-color;
    color: #fff;
  }
  @at-root{
    .dark &{
      border: 1px solid $hover-color;
      color: $hover-color;
      &:hover{
        background-color: $hover-color;
        color: #444;
      }
    }
  }
}
