// <(___CRAYOLA___()
//List of Crayola colors
//https://www.wikiwand.com/en/List_of_Crayola_crayon_colors

$Red: #ED0A3F;
$Maroon: #C32148;
$Scarlet: #FD0E35;
$Brick-Red: #C62D42;
$English-Vermilion: #CC474B;
$Madder-Lake:	#CC3336;
$Permanent-Geranium-Lake:	#E12C2C;
$Maximum-Red:	#D92121;
$Indian-Red: #B94E48;
$Orange-Red: #FF5349;
$Sunset-Orange: #FE4C40;
$Bittersweet: #FE6F5E;
$Dark-Venetian-Red: #B33B24;
$Venetian-Red: #CC553D;
$Light-Venetian-Red: #E6735C;
$Vivid-Tangerine: #FF9980;
$Middle-Red: #E58E73;
$Burnt-Orange: #FF7F49;
$Red-Orange: #FF681F;
$Orange: #FF8833;
$Macaroni-and-Cheese:	#FFB97B;
$Middle-Yellow-Red:	#ECB176;
$Mango-Tango:	#E77200;
$Yellow-Orange:	#FFAE42;
$Maximum-Yellow-Red:	#F2BA49;
$Banana-Mania: #FBE7B2;
$Maize: #F2C649;
$Orange-Yellow: #F8D568;
$Goldenrod	45	59	99	252	214	103	#FCD667
$Dandelion	46	63	100	254	216	93	#FED85D
$Yellow	52	55	98	252	232	131	#FBE870
$Green-Yellow	54	44	95	241	231	136	#F1E788
$Middle Yellow	55	100	100	255	235	0	#FFEB00
$Olive Green	59	49	71	181	179	92	#B5B35C
$Spring Green	59	20	93	236	235	189	#ECEBBD
$Maximum Yellow	60	78	98	250	250	55	#FAFA37
$Canary	60	40	100	255	255	153	#FFFF99
$Lemon Yellow	60	38	100	255	255	159	#FFFF9F
$Maximum Green Yellow	65	65	90	217	230	80	#D9E650
$Middle Green Yellow	72	50	75	172	191	96	#ACBF60
$Inchworm	75	92	89	175	227	19	#AFE313
$Light Chrome Green	75	67	90	190	230	75	#BEE64B
$Yellow-Green	76	46	88	197	225	122	#C5E17A
$Maximum Green	90	65	55	94	140	49	#5E8C31
$Asparagus	92	43	63	123	160	91	#7BA05B
$Granny Smith Apple	112	34	88	157	224	147	#9DE093
$Fern	126	46	72	99	183	108	#63B76C
$Middle Green	130	45	55	77	140	87	#4D8C57
$Green	135	65	65	58	166	85	#3AA655
$Medium Chrome Green	137	35	65	108	166	124	#6CA67C
$Forest Green	140	43	65	95	167	119	#5FA777
$Sea Green	149	34	87	147	223	184	#93DFB8
$Shamrock	160	75	80	51	204	153	#33CC99
$Mountain Meadow	162	85	70	26	179	133	#1AB385
$Jungle Green	163	76	67	41	171	135	#29AB87
$Caribbean Green	165	100	80	0	204	153	#00CC99
$Tropical Rain Forest	168	100	46	0	117	94	#00755E
$Middle Blue Green	170	35	85	141	217	204	#8DD9CC
$Pine Green	175	99	47	1	120	111	#01786F
$Maximum Blue Green	180	75	75	48	191	191	#30BFBF
$Robin's Egg Blue	180	100	80	0	204	204	#00CCCC
$Teal Blue	180	100	50	0	128	128	#008080
$Light Blue	180	34	85	143	216	216	#8FD8D8
$Aquamarine	186	36	91	149	224	232	#95E0E8
$Turquoise Blue	186	53	91	108	218	231	#6CDAE7
$Outer Space	189	22	23	45	56	58	#2D383A
$Sky Blue	190	50	92	118	215	234	#76D7EA
$Middle Blue	190	45	90	126	212	230	#7ED4E6
$Blue-Green	191	100	72	0	149	183	#0095B7
$Pacific Blue	192	100	77	0	157	196	#009DC4
$Cerulean	193	99	83	2	164	211	#02A4D3
$Maximum Blue	195	65	80	71	171	204	#47ABCC
$Blue (I)	196	80	90	46	180	230	#4997D0
$Cerulean Blue	200	75	80	51	154	204	#339ACC
$Cornflower	201	37	92	147	204	234	#93CCEA
$Green-Blue	204	80	78	40	135	200	#2887C8
$Midnight Blue	210	100	55	0	70	140	#00468C
$Navy Blue	210	100	80	0	102	204	#0066CC
$Denim	213	89	74	21	96	189	#1560BD
$Blue (III)	216	100	100	0	102	255	#0066FF
$Cadet Blue	219	13	76	169	178	195	#A9B2C3
$Periwinkle	223	15	90	195	205	230	#C3CDE6
$Blue (II)	224	70	90	69	112	230	#4570E6
$Wild Blue Yonder	225	34	72	122	137	184	#7A89B8
$Indigo	227	60	78	79	105	198	#4F69C6
$Manatee	231	12	63	141	144	161	#8D90A1
$Cobalt Blue	236	30	78	140	144	200	#8C90C8
$Celestial Blue	240	45	80	112	112	204	#7070CC
$Blue Bell	240	25	80	153	153	204	#9999CC
$Maximum Blue Purple	240	25	90	172	172	230	#ACACE6
$Violet-Blue	245	45	78	118	110	200	#766EC8
$Blue-Violet	249	53	72	100	86	183	#6456B7
$Ultramarine Blue	250	80	75	63	38	191	#3F26BF
$Middle Blue Purple	260	40	75	139	114	190	#8B72BE
$Purple Heart	263	77	76	101	45	193	#652DC1
$Royal Purple	267	61	63	107	63	160	#6B3FA0
$Violet (II)	274	45	64	131	89	163	#8359A3
$Medium Violet	280	60	70	143	71	179	#8F47B3
$Wisteria	281	27	86	201	160	220	#C9A0DC
$Lavender (I)	287	30	80	191	143	204	#BF8FCC
$Vivid Violet	289	62	56	128	55	144	#803790
$Maximum Purple	290	60	50	115	51	128	#733380
$Purple Mountains' Majesty	291	21	87	214	174	221	#D6AEDD
$Fuchsia	300	56	76	193	84	193	#C154C1
$Pink Flamingo	300	54	99	252	116	253	#FC74FD
$Violet (I)	306	60	45	115	46	108	#732E6C
$Brilliant Rose	311	55	90	230	103	206	#E667CE
$Orchid	314	31	89	226	156	210	#E29CD2
$Plum	314	65	56	142	49	121	#8E3179
$Medium Rose	315	50	85	217	108	190	#D96CBE
$Thistle	320	25	92	235	176	215	#EBB0D7
$Mulberry	323	60	78	200	80	155	#C8509B
$Red-Violet	324	73	73	187	51	133	#BB3385
$Middle Purple	325	40	85	217	130	181	#D982B5
$Maximum Red Purple	325	65	65	166	58	121	#A63A79
$Jazzberry Jam	328	93	65	165	11	94	#A50B5E
$Eggplant	329	34	38	97	64	81	#614051
$Magenta	329	66	96	246	83	166	#F653A6
$Cerise	330	77	85	218	50	135	#DA3287
$Wild Strawberry	330	80	100	255	51	153	#FF3399
$Lavender (II)	332	31	98	251	174	210	#FBAED2
$Cotton Candy	335	28	100	255	183	213	#FFB7D5
$Carnation Pink	336	35	100	255	166	201	#FFA6C9
$Violet-Red	337	72	97	247	70	138	#F7468A
$Razzmatazz	338	95	89	227	11	92	#E30B5C
$Pig Pink	339	15	99	253	215	228	#FDD7E4
$Carmine	340	80	90	230	46	107	#E62E6B
$Blush	342	63	86	219	80	121	#DB5079
$Tickle Me Pink	342	49	99	252	128	165	#FC80A5
$Mauvelous	345	40	94	240	145	169	#F091A9
$Salmon	350	43	100	255	145	164	#FF91A4
$Middle Red Purple	0	83	83	165	83	83	#A55353
$Mahogany	0	74	79	202	52	53	#CA3435
$Melon	10	32	100	254	186	173	#FEBAAD
$Pink Sherbert	12	43	97	247	163	142	#F7A38E
$Burnt Sienna	14	65	91	233	116	81	#E97451
$Brown	14	65	69	175	89	62	#AF593E
$Sepia	17	59	62	158	91	64	#9E5B40
$Fuzzy Wuzzy	20	77	53	135	66	31	#87421F
$Beaver	22	38	57	146	111	91	#926F5B
$Tumbleweed	24	42	87	222	166	129	#DEA681
$Raw Sienna	24	67	82	210	125	70	#D27D46
$Van Dyke Brown	25	60	40	102	66	40	#664228
$Tan	25	50	85	217	154	108	#D99A6C
$Desert Sand	25	26	93	237	201	175	#EDC9AF
$Peach	26	36	100	255	203	164	#FFCBA4
$Burnt Umber	27	60	50	128	85	51	#805533
$Apricot	28	30	99	253	213	177	#FDD5B1
$Almond	30	18	93	238	217	196	#EED9C4
$Raw Umber	31	50	40	102	82	51	#665233
$Shadow	38	39	51	131	112	80	#837050
$Raw Sienna (I)	42	60	90	230	188	92	#E6BC5C
$Timberwolf	42	5	85	217	214	207	#D9D6CF
$Gold (I)	60	25	57	146	146	110	#92926E
$Gold (II)	34	40	90	230	190	138	#E6BE8A
$Silver	21	7	79	201	192	187	#C9C0BB
$Copper	18	53	85	218	138	103	#DA8A67
$Antique Brass	22	50	78	200	138	101	#C88A65
$Black	0	0	0	0	0	0	#000000
$Charcoal Gray	30	15	45	115	106	98	#736A62
$Gray	33	8	55	139	134	128	#8B8680
$Blue-Gray	240	2	80	200	200	205	#C8C8CD
$White	0	0	100	255	255	255	#FFFFFF

//List of Crayola lourest

$Radical-Red: #FF355E;
$Wild-Watermelon:	#FD5B78;
$Outrageous-Orange:	#FF6037;
$Atomic-Tangerine: #FF9966;
$Neon-Carrot:	#FF9933
$Sunglow:	#FFCC33;
$Laser-Lemon:	#FFFF66;
$Unmellow-Yellow:	#FFFF66;
$Electric-Lime:	#CCFF00;
$Screamin-Green:	#66FF66;
$Magic-Mint: #AAF0D1
$Blizzard-Blue:	#50BFE6;
$Shocking-Pink:	#FF6EFF;
$Razzle-Dazzle-Rose: #EE34D2;
$Hot-Magenta:	#FF00CC;
$Purple-Pizzazz: #FF00CC;
