// Social Media colors
// http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/

//Facebook
$color--facebook-blue-base: #3b5998;
$color--facebook-blue-light: #6d84b4;
$color--facebook-blue-lighter: #afbdd4;
$color--facebook-blue-lightest: #d8dfea;

//Twitter
$color--twitter-blue-dark: #0084b4;
$color--twitter-blue-base: #00aced;
$color--twitter-blue-light: #1dcaff;
$color--twitter-blue-verified: $color--twitter-blue-light;
$color--twitter-blue-lighter: #c0deed;
